{% extends 'base.html' %} 
{% block titulo %}Lista de veículos{% endblock %} 
{% block conteudo %}
<div class="container px-5">
    <form action="/veiculo/" method="GET">
    <div class="d-flex justify-content-between align-items-center gap-3  mb-4">
        <div class="d-flex justify-content-between align-items-center gap-3  mb-4 flex-1">
            <h1>Veículos</h1>
            <h6 class="text-info mt-2">({{veiculos|length}} disponíveis)</h6>
        </div>
        <div class="d-flex btn-group flex-0">
            <input class="form-control" name="pesquisa" type="text" placeholder="Pesquisar" />
            <input class="btn btn-info text-white fw-bolder" type="submit" value="Pesquisar" />
        </div>
    </div>
    </form>
    <div class="d-flex flex-column gap-4 overflow-auto">
        {% for v in veiculos %}
        <div class="card px-4 py-4 rounded d-flex flex-column gap-1">
            {% if v.foto %}
                <img src="{{v.foto.url}}" class="img-fluid rounded mb-2" style="max-height: 340px; object-fit: cover" />
            {% else %}
                Veículo sem foto
            {% endif %}
            <div>
                <h6 class="m-0">{{v.get_marca_display}}</h5>
                <h3 class="mb-4">{{v.modelo}}</h4>
                <span class="badge bg-secondary text-white">{{v.ano}}</span>
                <span class="badge bg-secondary text-white">{{v.get_cor_display}}</span>
            </div>
            <hr />
            <div class="d-flex gap-3 justify-content-end">
                <a href="/veiculo/{{v.id}}" class="btn  btn-outline-info fw-bolder">
                    Editar
                  </a>
                <a href="/veiculo/deletar/{{v.id}}" class="btn btn-info text-white fw-bolder">
                    Excluir
                  </a>
                <!-- <btn class="">Editar</btn> -->
                <!-- <btn class="btn btn-info text-white fw-bolder">Excluir</btn> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}